body {
  font-family: 'Abel', sans-serif;
  width: 100%;
  height: 100%;
}

/*
.backgrounds {
opacity: .3;
}
 */

.section-subheader {
  font-size: 30px;
}

/* ABOUT
	.background-about, img{
	width: 100%;
	box-shadow: #000 0 0px 20px;
	}
	@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

	/*
	 * * Art by @jofpin
	 * * 2014
	 * */

.card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 85%;
  width: 750px;
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s;
	border-radius: 15px 15px 0px 0px;
	bottom: 0px;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.card__thumb {
  height: 235px;
  overflow: hidden;
  border: white solid 4px !important;
  background-color: black;
  transition: height 1s;
	border-radius: 15px 15px 15px;
}

.card__thumb img {
  display: block;
  opacity: 1;
  transition: opacity 1s, transform 1s;
  transform: scale(1);
  max-width: 100%;
}

.card:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}

.card:hover .card__thumb {
  height: 120px;
}

.card__body {
  position: relative;
  padding: 20px;
  height: 185px;
  transition: height 1s;
}

.card:hover .card__body {
  height: 330px;
}

.card__category {
  position: absolute;
  left: -75px;
  top: -100px;
  /*
   	height: 150px;
   	width: 150px;

   	background: url("/home/klein/Documents/works/css_works/card-ui2/image/face.jpg");
   	background-size: contain;

   	border-radius: 100%;
   	box-shadow: -3px 0px 10px #696969;
   	border: solid white 2px;
   	*/
}

.profile__picture img {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
	left: 0px;
}

.border__left {
  border-radius: 100px;
  height: 155px;
  width: 155px;
  position: absolute;
  left: -3px;
  border-left: 82px solid white !important;
  top: -2.5px;
}

.card__contact {
  width: 400px;
}

.card__contact img {
  height: 50px;
  position: relative;
  left: 145px;
  top: 55px;
  margin: 0 10px;
  border-radius: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 5px;
}

.card__body .card__title {
  top: 20px;
	position: relative;
}

.card__title p.title {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.card__title p.name__title {
  font-size: 10px;
  color: #7a7a7a;
  position: relative;
  top: -10px;
  left: 18em;
  font-style: italic;
}

.card__subtitle p {
  font-size: 17px;
  color: black;
  padding: 1px 110px;
  text-align: justify;
}

.card__description {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .card__description {
  opacity: 1;
  transition: opacity 5s;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0 1px 1px black;
  }
  100% {
    opacity: 1;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0);
  }
}

@keyframes titleBlurEnd {
  0% {
    opacity: 1;
    text-shadow: 0 1px 1px black;
  }
  100% {
    opacity: 0;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0);
  }
}

.step-bar {
  margin-top: 1em !important;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .step-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.step {
  display: flex;
  flex: 0 1 100%;
  justify-content: center;
  border: 2px solid #009cd2;
  background-color: #009cd2;
  color: white;
  border-radius: 5rem;
  position: relative;
}

@media (min-width: 480px) {
  .step {
    background-color: transparent;
    color: currentColor;
    border: none;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    flex-grow: 1;
  }
}

.step+.step {
  margin-top: 5rem;
}

@media (min-width: 480px) {
  .step+.step {
    margin-top: 0;
  }
}

.step+.step:before {
  content: '';
  position: absolute;
  background-color: #009cd2;
  height: calc(100% + 2px);
  width: 2px;
  top: calc(-100% - 2px);
}

@media (min-width: 480px) {
  .step+.step:before {
    display: none;
  }
}

@media (min-width: 480px) {
  .step+.step .step__bullet:before {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 5rem - 2px);
    top: 2.5rem;
    right: calc(50% + 5rem / 2);
    background-color: #009cd2;
  }
}

.step__bullet img {
  height: 40px;
  top: 15px;
  position: absolute;
  left: 72px;
}

.step--current~.step {
  border-color: #96A0A0;
  background-color: white;
  color: currentColor;
}

@media (min-width: 480px) {
  .step--current~.step {
    background-color: transparent;
  }
}

.step--current~.step:before {
  background-color: #96A0A0;
}

@media (min-width: 480px) {
  .step--current~.step .step__bullet {
    border-color: #96A0A0;
    background-color: white;
    color: currentColor;
  }
}

.step--current~.step .step__bullet:before {
  background-color: #96A0A0;
}

.step__bullet {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-weight: 700;
  box-sizing: unset;
}

@media (min-width: 480px) {
  .step__bullet {
    border: 2px solid #009cd2 !important;
    /* background-color: $color-done-background; */
    color: white;
    border-radius: 50%;
  }
}

/* END ABOUT */

/* MAP
	#map {
	position: initial;
	}
	 */

div.text-map {
  background-color: #31a3b6;
  position: relative;
  height: 100%;
  width: 40%;
  z-index: 1;
  float: right;
}

/* END MAP */

/* 5 reasons */

.background-wrapper {
  background: #31a3b6;
  width: 50%;
  height: 100%;
  float: right;
  color: white;
}

div.text-wrap-five {
  top: 50%;
  bottom: 0;
  position: relative;
  margin: auto;
  transform: translateY(-50%);
}

.text-wrap-five p {
  font-size: 50%;
}

/* END 5 reasons */

/* PROJETS */

div.text-wrap h3, p {
  color: white;
}

.text-wrap p {
  font-size: 20px;
}

div.text-wrap {
  left: 5%;
  width: 35%;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

div.text-wrap.right {
	left: unset;
	right: 5%;
}

.text-wrap button {
	color: #fff;
	background: rgba(0,0,0,0);
	border: solid 2px white;
	border-radius: 40px;
	padding: 10px 30px;
}
.icon-tools{
	height: 40px;
}

.icon-tools img {
	height: 100%;
	margin: 10px;
	filter: grayscale(100%) drop-shadow(5px 5px 3px #00979d)
}

div img.projects {
  width: 50%;
  right: 5%;
	transform: translateY(-50%);
  box-shadow: 0 0 50px rgba(9, 9, 9, 0.2);
  top: 50%;
  position: absolute;
}

div img.projects.left {
  right: unset;
	left: 5%;
}

div img.projects.shadow-none {
	box-shadow: none;
	filter: drop-shadow(5px 5px 3px #00979d);
}

div img.projects.euler {
  width: 30%;
	right: 15%;
}

div img.projects-game {
  width: 43%;
  margin-top: -17%;
  box-shadow: 0 0 50px rgba(9, 9, 9, 0.2);
  top: 50%;
  position: absolute;
	left: 10%;
}

/* END PROJETS */

div.wrap {
	top: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
}

/* BACKGROUND COLUMN LAYOUT */

.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
}

.wrapper .column {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
}

.wrapper .column:hover {
  flex: 1 180%;
  cursor: pointer;
}

.wrapper .column h2 {
  text-shadow: #000 0 0 20px;
}

.wrapper .column h2 a {
	color: white;
	text-shadow: #000 0 0 20px;
	text-transform: none;
	text-decoration: none;
	border-bottom: none;
}

.wrapper .column:hover .inner-wrapper h1 {
  font-size: 3.0rem;
  opacity: 1;
}

.wrapper .column:hover .inner-wrapper h3 {
  visibility: visible;
  opacity: 1;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #D2EFF4;
  transform: translateY(5px);
}

.wrapper .column .inner-wrapper h1 {
  font-family: sans-serif;
  color: white;
  margin: 0px;
  transition: 0.5s cubic-bezier(0.235, 0.035, 0, 1.53);
}

.wrapper .one {
  background: url("https://autogrow.co/wp-content/uploads/2016/05/bigstock-Landing-Page-Optimization-Conc-62780704.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #51e2ff;
}

.wrapper .two {
  background: url("images/hardware.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #31a3b6;
}

.wrapper .three {
  background: url("https://png.icons8.com/ultraviolet/1600/binary-file.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #28bcd5;
}

/* GRID SKILLS */

section.ib-container {
  position: relative;
  width: 910px;
  margin: auto;
	top: 50%;
	transform: translateY(-27%);
}

.ib-container:before, .ib-container:after {
  content: "";
  display: table;
}

.ib-container:after {
  clear: both;
}

.ib-container article {
  width: 140px;
  height: 90px;
  background: #fff;
  cursor: pointer;
  float: left;
  border: 10px solid #fff;
  text-transform: none;
  margin: 8px;
  z-index: 1;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1), 1px 1px 3px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s linear, /* transform 0.4s ease-in-out, */
  box-shadow 0.4s ease-in-out;
}

article.web-basic {
  width: 870px;
}

article.rails {
  width: 417px;
}

article.cms {
  width: 417px;
}

article.ide {
  width: 417px;
}

article.gestion {
  width: 417px;
}

article.computer-science {
  width: 870px;
}

box-shadow: 5px 5px 7px -8px #2f2f2f;
.ib-container h3 a {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.ib-container article header span {
  font-size: 10px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  padding: 10px 0;
  display: block;
  color: rgba(255, 210, 82, 1);
  text-shadow: 0px 0px 0px rgba(255, 210, 82, 1);
  text-transform: uppercase;
  opacity: 0.8;
}

.ib-container article p {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: rgba(51, 51, 51, 1);
  text-shadow: 0px 0px 0px rgba(51, 51, 51, 1);
  opacity: 0.8;
}

.ib-container h3 a, .ib-container article header span, .ib-container article p {
  transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

.ib-container article.blur {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 1);
  /* transform: scale(0.9); */
  opacity: 0.7;
}

.ib-container article.blur h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

.ib-container article.blur header span {
  text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
  color: rgba(255, 210, 82, 0);
  opacity: 0.5;
}

.ib-container article.blur p {
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  color: rgba(51, 51, 51, 0);
  opacity: 0.5;
}

.ib-container article.active {
  /* transform: scale(1.05); */
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1), 1px 11px 15px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 1;
}

.ib-container article.active h3 a, .ib-container article.active header span, .ib-container article.active p {
  opacity;
  1;
}

/* END GRID SKILL */

/* CIRCLE PROGRESS */

/* Import the Google Font 'Lato' */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Container styles */

.container {
  padding: 50px 0;
  text-align: center;
}

figure.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}

.chart figcaption {
  padding: 35px 20px;
  width: 30px;
  height: 0px;
  border: 10px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
  box-shadow: 5px 5px 7px -8px #2f2f2f;
}

.chart img {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
}

.chart img.prestashop {
  opacity: 0.3;
}

/* END Container styles */

/* Colors for the circles and positions for the graphics */

.html {
  top: 25px;
  left: 25px;
}

.html+svg .outer {
  stroke: #F16529;
}

.css {
  top: 25px;
  left: 25px;
}

.css+svg .outer {
  stroke: #347DC6;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.php {
  top: 25px;
  left: 25px;
}

.php+svg .outer {
  stroke: #9A9FC5;
}

.sql {
  top: 25px;
  left: 25px;
}

.sql+svg .outer {
  stroke: #007E77;
}

.ruby {
  top: 25px;
  left: 25px;
}

.ruby+svg .outer {
  stroke: #EC1622;
}

.prestashop {
  top: 25px;
  left: 25px;
}

.prestashop+svg .outer {
  stroke: #A0DBE8;
}

.atom {
  top: 25px;
  left: 25px;
}

.atom+svg .outer {
  stroke: #309879;
}

.linux {
  top: 25px;
  left: 25px;
}

.linux+svg .outer {
  stroke: #FFFF00;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.javascript {
  top: 25px;
  left: 25px;
}

.javascript+svg .outer {
  stroke: #E4BD38;
}

.node {
  top: 25px;
  left: 25px;
}

.node+svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 5px;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  stroke-linecap: round;
  /* firefox bug fix - won't rotate at 90deg angles
		-moz-transform: rotate(-89deg) translateX(-190px); */
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}

/* END Circle colors and graphic positions */

/* Set the initial values for the animation */

.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='90'] .outer {
  stroke-dashoffset: 320;
  -webkit-animation: show90 2s;
  animation: show90 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 345;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='60'] .outer {
  stroke-dashoffset: 385;
  -webkit-animation: show60 2s;
  animation: show60 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 410;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='40'] .outer {
  stroke-dashoffset: 440;
  -webkit-animation: show40 2s;
  animation: show40 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 475;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}

.chart[data-percent='10'] .outer {
  stroke-dashoffset: 500;
  -webkit-animation: show10 2s;
  animation: show10 2s;
}

.chart[data-percent='0'] .outer {
  stroke-dashoffset: 530;
  -webkit-animation: show0 2s;
  animation: show0 2s;
}

/* END set initial animation values */

/* Keyframes for the initial animation */

@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 320;
  }
}

@keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 320;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 345;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 345;
  }
}

@-webkit-keyframes show60 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 385;
  }
}

@keyframes show60 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 385;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 410;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 410;
  }
}

@-webkit-keyframes show40 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 440;
  }
}

@keyframes show40 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 440;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 475;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 475;
  }
}

@-webkit-keyframes show10 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 500;
  }
}

@keyframes show10 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 500;
  }
}

@-webkit-keyframes show0 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 530;
  }
}

@keyframes show0 {
  from {
    stroke-dashoffset: 537;
  }
  to {
    stroke-dashoffset: 530;
  }
}

/* END Keyframes for the initial animation */

/* GRID TRAVAUX */

.colour {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #4b00b5;
  cursor: pointer;
  color: transparent;
  animation: fly-in 0.33s ease;
  animation-fill-mode: forwards;
  text-align: center;
  font-size: 32px;
}

.num1 {
  animation-delay: 0.1s;
}

.num2 {
  animation-delay: 0.2s;
}

.num3 {
  animation-delay: 0.3s;
}

.num4 {
  animation-delay: 0.4s;
}

.num5 {
  animation-delay: 0.5s;
}

.num6 {
  animation-delay: 0.6s;
}

.num7 {
  animation-delay: 0.7s;
}

.num8 {
  animation-delay: 0.8s;
}

.num9 {
  animation-delay: 0.9s;
}

.num10 {
  animation-delay: 1s;
}

.num11 {
  animation-delay: 1.1s;
}

.num12 {
  animation-delay: 1.2s;
}

.num13 {
  animation-delay: 1.3s;
}

.num14 {
  animation-delay: 1.4s;
}

.num15 {
  animation-delay: 1.5s;
}

.num16 {
  animation-delay: 1.6s;
}

.num17 {
  animation-delay: 1.7s;
}

.num18 {
  animation-delay: 1.8s;
}

.num19 {
  animation-delay: 1.9s;
}

.num20 {
  animation-delay: 2s;
}

.num21 {
  animation-delay: 2.1s;
}

.num22 {
  animation-delay: 2.2s;
}

.num23 {
  animation-delay: 2.3s;
}

.num24 {
  animation-delay: 2.4s;
}

.num25 {
  animation-delay: 2.5s;
}

.num26 {
  animation-delay: 2.6s;
}

.num27 {
  animation-delay: 2.7s;
}

.num28 {
  animation-delay: 2.8s;
}

.num29 {
  animation-delay: 2.9s;
}

.num30 {
  animation-delay: 3s;
}

@keyframes fly-in {
  100% {
    width: 300px;
    height: 200px;
    margin: 0;
    color: #fff;
  }
}

/*  End */

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Abel', sans-serif;
  font-weight: 700;
  text-transform: none;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
}

.header__logo {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
}

.header__menu {
  position: absolute;
  left: 150px;
  right: 35px;
  top: 20px;
  text-align: right;
}

.header__menu-item {
  border: 1px solid transparent;
  padding: 10px;
  display: inline-block;
}

.header__menu-link {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px 2.5px 3px;
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.header__menu-link:hover, .header__menu-item_state_current .header__menu-link {
  border-bottom-color: #fff;
}

.header__menu-item_type_contact {
  margin-left: 15px;
  padding: 0;
}

.header__menu-item_type_contact .header__menu-link {
  color: white;
  padding: 12px;
  border: 1.5px solid white;
}

.header__menu-item_type_contact .header__menu-link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.header__menu-item_type_contact.header__menu-item_state_current .header__menu-link {
  background: black;
  color: white;
}

/* ================== */

.logo {}

.logo__link {
  display: inline-block;
}

.logo__image {
  width: 80px;
  padding-left: 20px;
}

body, .reveal .slide-background .element1 {
  z-index: 700;
  position: absolute;
  background-position: center;
}

.reveal .controls .enabled {
  opacity: 1;
  cursor: pointer;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: black;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
  border-right-color: #62606f;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
  border-left-color: #62606f;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: black;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: #62606f;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: black;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: #62606f;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: black;
}

.reveal .progress {
  pointer-events: none;
}

.reveal .progress span {
  background: #62606f;
}

.reveal .controls .navigate-left {
  top: 42px;
}

.reveal .controls .navigate-right {
  left: 65px;
  top: 42px;
}

.reveal .controls button {
  border: 10px solid transparent;
}

.reveal .controls .navigate-down {
  left: 38px;
  top: 69px;
}

.reveal .controls .navigate-up {
  left: 38px;
  top: 4px;
}

.reveal a {
  color: black;
  border-bottom: 1.7px solid rgba(0, 0, 0, 0.1);
}

.reveal a:hover {
  border-bottom: solid #000 1.7px;
  color: black;
}

.face {
  width: 3em;
  border: none !important;
  border-radius: 100%;
  box-shadow: #0fae7c 1px 1px 24px !important;
}

.navigation-hint {
  position: fixed !important;
  bottom: 70px;
  right: 130px;
  padding: 0 20px 15px 0;
  background: url(icons/arrow.png) no-repeat right bottom;
}

.navigation-hint p {
  font-size: 20px;
}

.contact-link {
  display: inline-block;
  font-size: 0.7em !important;
  margin-top: 0.3em !important;
}

.contact-link_type_email {
  margin-top: 0.8em !important;
}

.contact-banner {
  position: absolute;
  height: 100%;
  width: 460px;
  background-color: #6bd4a3;
  z-index: inherit;
  right: 115px;
  font-size: xx-large !important;
}

.contact-banner p {
  font-size: x-large;
}

.contact-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
